@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');


html, body {
height:100%;
width:100%;
font-family: 'Chelsea Market', cursive, sans-serif;
}

.navbar{
    padding: .8rem;
}

.navbar-nav li{
    padding-right:20px;
}

.nav-link {
    font-size:1em; 
}

.carousel-inner img{
    width 100%;
    height: 100%;
    object-fit: cover;
    
}


.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    text-shadow: 1px 1px 15px #270042;
    font-size: 15vw;
}


.advert{
    background-color: #ff7400;
    text-align: center;
}

















/*--

  @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

            
            .taskbar {
            background-color: #6510a1;
            height: 30px;
            }

            .titleblock {
              background-color: #ff7400;
              height: 60px;
            }

            .name {
                font-size: 6vw;
                font-family: 'Chelsea Market', cursive;
                text-align: center;
            }
            
            .pageone{
              border:  #6510a1 10px solid;
                }
    
             .pageone img { 
                width: 100%;
                height: 100%;
                object-fit: cover
               ;}


            .orange {
             background-color: #ff7400;
             height:600px;
                }

            .wand{
                height:80px;
                width: 150px;
                margin:10px;
            }
        
            .snackbox{
                background-color: #270042;
                height: 100px;
                margin-left: 20px;
                margin-top:20px;
            }
            
            .red {
                background-color: darkred;
                height:400px;
            }
            
            .pink{
                background-color: palevioletred;
            }
            


        /* xs devices */
        body { background-color: red }

            
        /* sm devices */
        @media (min-width: 576px) {
        body { background-color: orange }
        }
            
        /* md devices */
        @media (min-width: 768px) {
        body { background-color: yellow }
            
            .green{
                height: 250px;
            }
            
            .red{
                height:600px;
            }
            .grey{
                height:200px;
            }
    
        }
            
        /* lg devices */
        @media (min-width: 992px) {
        body { background-color: green }
            
            .green{
                height: 1200px;}
            
            .red {
                height: 1200px;
            }
            
            .blue {
                height: 60px;
            }
            
            .titleblock{
             height: 100px;
            }
                
        }

            
        /* xl devices */
        @media (min-width: 1200px) {
        body { background-color: blue }
            
            .titleblock{
                height: 150px;
            }
        